<!DOCTYPE html>
<html lang="en">
	<%- include('layouts/head'); -%>
	<body>

		<!-- Loader -->
		<div id="global-loader">
			<img src="assets/img/loader.svg" class="loader-img" alt="Loader">
		</div>
		<!-- End Loader -->

		<!-- Page -->
		<div class="page">

			<!-- Sidemenu -->
			<%- include('layouts/sidemenu'); -%>
			<!-- End Sidemenu -->

			<!-- Main Content-->
			<%- include('layouts/header'); -%>
			<!-- End Main Content-->

			<!-- Sidebar -->
			
			<!-- End Sidebar -->

			<!-- Main Footer-->
			<div class="main-footer text-center">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<span>Copyright © 2021 <a href="#">Dashlead</a>. Designed by <a href="https://www.spruko.com/">Spruko</a> All rights reserved.</span>
						</div>
					</div>
				</div>
			</div>
			<!--End Footer-->

		</div>
		<!-- End Page -->

		<!-- Back-to-top -->
		<%- include('layouts/scripts'); -%>

	</body>
</html>